body {
  margin: 0;
  background: #000;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.img-main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.img-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  opacity: 1; /* Adjust as needed */
}

.heading-container {
  z-index: 2;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Adjust as needed */
}

.name-text {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

.name-text h1 {
  font-size: 30vh;
  letter-spacing: 8px;
  margin: 0;
  font-family: "CustomFont2", sans-serif;
  color: #bfea88;
}

.name-text h3 {
  font-size: 10vh;
  font-weight: normal;
  margin: 0;
  font-family: "CustomFont3", sans-serif;
  color: #bfea88;
}

@media (max-width: 1200px) {
  .name-text h1 {
    font-size: 5rem;
  }
  .name-text h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .name-text h1 {
    font-size: 4rem;
  }
  .name-text h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .name-text h1 {
    font-size: 3rem;
  }
  .name-text h3 {
    font-size: 1rem;
  }
}
